<!DOCTYPE html>
<html>

<head>
  <title>CDAX - E-mail Template</title>
  <style>
    .btn-primary {
      background-color: #00569e;
      padding: 10px 40px;
    }
    .btn-primary:hover {
      background-color: #04345c;
    }
    .btn,
    .btn:hover {
      text-decoration: none;
      color: white !important;
    }
    .btn {
      border: none;
      border-radius: 3px;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-flex;
      font-weight: 400;
      justify-content: center;
      line-height: 1.4;
      position: relative;
      transition: box-shadow .3s, background-color .3s, color .3s;
      user-select: none;
    }
    .paragraph {
      line-height: 1.5;
      font-weight: 300;
      text-indent: 20px;
    }
  </style>
</head>

<body style="margin: 0;padding: 0;background: #00569e;">
  <div style="max-width:600px;margin: 0 auto;background: #ffffff;">
    <table style="font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100% !important;
                  font-size: 16px;">
      <tr>
        <td>
          <img src="cid:hero" style="width:100%;" alt="CDAXForex" />
        </td>
      </tr>
      <tr>
        <td style="padding:20px 40px; color:#00569e; text-align: justify; font-size: 18px;">
          <p class = "paragraph">
            Congratulations, you are now validated and able to start using CDAX Forex
          </p>
          <!-- <p class = "paragraph">
            Thank you for choosing CDAX to trade forex. We are delighted to have you on board and wish you all the best
            in your trading experience.
          </p>
          <p class = "paragraph">
            We highly recommend that you familiarize yourself with our trading platform and the services we offer. Our
            Forex platform is very user-friendly and provides access to a wide range of educational materials and tools
            to help you become a successful trader.
          </p>
          <p class = "paragraph">
            If you have any questions or need help getting started, please feel free to contact us. Our customer service
            team is always available to provide assistance and answer any questions you may have.
          </p>
          <p class = "paragraph">
            Once again, thank you for choosing CDAX and we look forward to helping you become a successful trader.
          </p> -->
        </td>
      </tr>
      <tr>
        <td style="text-align: center; padding-bottom: 40px;">
          <a class="btn btn-primary" href="<%=loginUrl %>">Log in</a>
        </td>
      </tr>
      <tr>
        <td style="padding:0px 10px 20px 10px; color: #f49c0e; text-align: center;font-size: 20px;line-height: 25px;">
          <strong>
            Your questions answered
          </strong>
        </td>
      </tr>
      <tr>
        <td style="padding:0px 10px 20px 10px; color: #00569e; text-align: center;font-size: 20px;line-height: 25px;">
          <strong>
            Tips to get started with CDAX Forex
          </strong>
        </td>
      </tr>
      <tr>
        <td style="text-align: center;">
          <a href="https://www.cdaxforex.com/help/how-do-i-register-for-a-cdax-forex-account/">
            <img src="cid:help-center" style="max-width:100%;" width="118" alt="Help" />
          </a>
        </td>
      </tr>
      <tr>
        <td
          style="padding-top:100px;padding-bottom:40px;padding-left:5%;padding-right:5%;text-align: center;font-size: 12px;color: #00569e;">
          CDAX Forex is a registered trading name of CDAX Limited which is licenced by the Isle of Man Financial
          Services Authority.<br />
          CDAX Limited is incorporated in the Isle of Man. Company No. 135485C<br />
          Correspondence: 27 Hope Street, Douglas, Isle of Man, IM1 1AR<br />
          Registered Office: 2nd Floor, St Mary's Court, 20 Hill Street, Douglas, IM1 1EU<br />
          Telephone calls may be recorded.<br />
          +44 01624 682070
        </td>
      </tr>
    </table>
  </div>
</body>

</html>