<html>
  <head>
    <title>CDAX - E-mail Template</title>
  </head>
​
  <body style="margin: 0; padding: 0; background: #ffffff">
    <div style="width: 100% margin: 0 auto; background: #ffffff">
      <table
        style="
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100% !important;
          font-size: 16px;
        "
      >
        <tr>
          <td
            style="padding: 48px; background: #23559a; width: 100% !important"
          >
            <img
              src="cid:logo"
              style="width: 113px; height: 38px"
              alt="CDAXForex"
            />
          </td>
        </tr>
        <tr>
          <td align="center">
            <div style="max-width: 600px">
              <table
                style="
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100% !important;
                  font-size: 16px;
                "
              >
                <tr>
                  <td valign="top" width="100%" style="padding: 40px 40px 20px">
                    <p style="font-size: 20px; color: #0b1936">
                      <strong> Password Rotation Reminder </strong>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td valign="top" width="100%" style="padding: 0px 40px">
                    <br /><br />
                    <p style="color: #0b1936; font-size: 16px">
                      Dear <strong><%= firstName %></strong>,
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      We hope this email finds you well. As part of our
                      commitment to maintaining a secure and protected
                      environment for your account, we are implementing a
                      routine password rotation policy. This policy is designed
                      to enhance the overall security of our system and
                      safeguard your sensitive information.
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      To do so, please follow these steps:
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      1. <strong>Log in</strong> to your account using your
                      current credentials.
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      2. Navigate to the top bar and find the
                      <strong>“My Profile”</strong> icon.
                    </p>
                    <img
                      src="cid:profile"
                      style="
                        width: 32px;
                        height: 32px;
                        margin-top: 35px;
                        margin-bottom: 35px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      "
                      alt="CDAXProfile"
                    />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      3. Locate the option to <strong>“Reset Password”</strong>.
                    </p>
                    <img
                      src="cid:button"
                      style="
                        height: 32px;
                        margin-top: 35px;
                        margin-bottom: 35px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                      "
                      alt="CDAXProfile"
                    />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      4. Create a new, <strong>strong password</strong> that is
                      following our <strong>password guidelines</strong>.
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      <strong>guidelines</strong>
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      Remember, a strong password typically includes a
                      combination of uppercase and lowercase letters, numbers,
                      and special characters. Avoid using easily guessable
                      information, such as your name or birthdate.
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      If you have any questions or encounter any difficulties
                      during this process, please do not hesitate to reach out
                      to our support team at
                      <strong>backoffice@cdaxforex.com</strong>
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      Thank you for your cooperation in maintaining the security
                      of your account.
                    </p>
                    <br />
                    <p
                      style="
                        color: #0b1936;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px; /* 150% */
                        letter-spacing: 0.08px;
                      "
                    >
                      Best regards,
                    </p>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>