<!DOCTYPE html>
<html>

<head>
  <title>CDAX - E-mail Template</title>
</head>

<body style="margin: 0;padding: 0;background: #00569e;">
  <div style="max-width:600px;margin: 0 auto;background: #ffffff;">
    <table style="font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100% !important;
                  font-size: 16px;">
      <tr>
        <td>
          <img src="cid:hero" style="width:100%;" alt="CDAXForex" />
        </td>
      </tr>
      <tr>
        <td style="padding:0px 10px 20px 10px; color: #f49c0e; font-size: 20px;line-height:18px;">
          <table style="font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100% !important;
                        font-size: 16px;">
            <tr>
              <td width="25%" style="text-align: right; padding:0px 20px 10px 0;">
                <img src="cid:icon-1" style="max-width:100%;" width="60" alt="" />
              </td>
              <td valign="top" width="75%" style="padding:0px 50px 10px 0;">
                <p style="font-size: 16px;color:#00569e;">
                  <strong>
                    <%=title%>
                  </strong>
                </p>
                <p style="font-size: 14px;color:#00569e;">
                  <%=message%>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td
          style="padding-top:100px;padding-bottom:40px;padding-left:5%;padding-right:5%;text-align: center;font-size: 12px;color: #00569e;">
          CDAX Forex is a registered trading name of CDAX Limited which is licenced by the Isle of Man Financial
          Services Authority.<br />
          CDAX Limited is incorporated in the Isle of Man. Company No. 135485C<br />
          Correspondence: 27 Hope Street, Douglas, Isle of Man, IM1 1AR<br />
          Registered Office: 2nd Floor, St Mary's Court, 20 Hill Street, Douglas, IM1 1EU<br />
          Telephone calls may be recorded.<br />
          +44 01624 682070
        </td>
      </tr>
    </table>
  </div>
</body>

</html>