@cdax_holdings:registry=https://gitlab.com/api/v4/projects/52072520/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.com/api/v4/projects/52072520/packages/npm/:_authToken=${CI_JOB_TOKEN}